.banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%), url('../../src/Assests/Images/Rectangle\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 440px;


}

.share {
    background-color: #EDEEF0;

}

.card-content {
    margin: 286px 0 0 200px;

}

.drop-card {
    position: absolute;
    bottom: 18%;
    left: 70%;
    z-index: 1;

}

@media only screen and (max-width:688px){
.card-content {
        margin: 286px 0 0 50px;

    }
    .button-position{
        left: 70%;
        top: 20px;

    }
}